<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Logs</h3>
    </div>
    <div class="panel-body">
        <div id="grid-example"></div>
    </div>
</div>


<script>
  var urlData = '/data';
  Ext.require([
    'Ext.grid.*',
    'Ext.data.*',
    'Ext.util.*',
    'Ext.tip.QuickTipManager',
    'Ext.ux.LiveSearchGridPanel'
  ]);


  Ext.onReady(function () {
    Ext.QuickTips.init();

    var itemsPerPage = 20,
      name = 'Sencha';

    var store = Ext.create('Ext.data.Store', {
      fields: ['ip', 'browser_name', 'os_name', 'url_from', 'url_to', 'unique_visit'],

      autoLoad: true,
      pageSize: itemsPerPage,
      remoteSort: true,
      remoteFilter: true,

      proxy: {
        type: 'ajax',
        url: '/data',
        reader: {
          type: 'json',
          rootProperty: 'rows',
          totalProperty: 'total'
        },
        extraParams: {
          name: name,
        },
      }
    });

    Ext.create('Ext.grid.Panel', {
      title: 'Test Grid',
      store: store,
      plugins: 'gridfilters',
      columns: [
        {
          header: 'IP',
          dataIndex: 'ip',
          hideable: false,
          sortable: false,
          flex: 1,

          filter: {
            type: 'string',
            // value: '',  // setting a value makes the filter active.
            itemDefaults: {
              // any Ext.form.field.Text configs accepted
            }
          }
        }, {
          header: 'Browser Name',
          dataIndex: 'browser_name',
          flex: 1
        }, {
          header: 'OS Name',
          dataIndex: 'os_name',
          flex: 1
        }, {
          header: 'URL From',
          dataIndex: 'url_from',
          sortable: false,
          flex: 1
        }, {
          header: 'URL To',
          dataIndex: 'url_to',
          sortable: false,
          flex: 1
        }, {
          header: 'Unique Visit',
          dataIndex: 'unique_visit',
          sortable: false,
          flex: 1
        }],
      width: 1100,
      height: 600,
      dockedItems: [{
        xtype: 'pagingtoolbar',
        store: store,
        dock: 'bottom',
        displayInfo: true
      }],
      renderTo: 'grid-example'
    });
  });

</script>