<div class="jumbotron">


    <div class="form-group">
        <label for="random">Сколько требуется рандомных значений?</label>
        <input type="number" class="form-control" id="random" placeholder="Number">
    </div>
    <button id="send" onclick="send()" type="submit" class="btn btn-default">Generate</button>

</div>

<script>
    var active = false;
    function send() {
      if(active) {
        alert('Please wait or refresh page');
        return;
      }
      active = true;
      var random = document.getElementById('random').value;
      random = parseInt(random);
      if(random < 1) {
        active = false;
        alert('Random must be int');
        return;
      }

      var xhr = new XMLHttpRequest();

      xhr.open('GET', '/random?rand=' + random, false);
      xhr.send();

      if (xhr.status != 200) {
        active = false;
        alert('Yops! Some problem :(');
      } else {
        active = false;
        alert('Success generated! You can go table in menu');
      }
    }
</script>